.create-task-div{
  margin-left: 15px; 
  margin-right: 15px;
  border: 1px solid rgb(94, 20, 163); 
  /* width: 100%; */
  position: fixed;
  top : 0px;
  right: 0px;
  left: 700px;
}

h1.header-create-task{
  left: auto;
  right: auto;
  text-align: center;
  height: 100px;
}
.updateName{
  display: flex;
}

#label{
  width : 80px;
  height: 30px;
  box-sizing: 80px;
  font-size: 13px;
  color: blue;
  margin : 7px;
  align-items: center;
}

#input{
  width: 100%;
  height: 15px;
  margin-top: 10px;
}

#input-desc{
  width: 100%;
  margin-top:10px ;
}

/* .create-task-button{
  align-items: center; 
  left: auto;
  right: auto;
  width: 100%; 
} */

.div-button{
  text-align: center;
}

/* CSS */
.create-task-button {
  align-items: center; 
   /* border: 1px solid red; */
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  /* border: 0; */

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-task-button:hover,
.create-task-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.create-task-button:active {
  background: var(--color);
  color: #fff;
}