.wrap-log-in{
  display: flex;
  /* position: relative; */
}

.log-in-pic{
  padding: 20px;
  border : 1px green solid;
  height: 500px;
  width: 500px;
  display: flex;
  position: relative;
  justify-content: center;
}

.img-login{
  border : 1px green solid;
  position: absolute;
  top: 30%;
 
  height: 200px;
  width: 200px;

}
.div-form{
  border: 1px blueviolet solid;
  /* position: absolute; */
  /* top: 30%; */
}
.form-log-in{
  border: 1px red solid;
  width: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.span-loging{
  height: 50px;
  border: 1px black solid;
  position: absolute;
  top: 20%;
  font-family: Poppins-Bold;
    font-size: 35px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}

.name-input-div{
  height: 35px;
  position: absolute;
  top: 33%;
  width: 100%;
  /* border: 1px brown solid; */
}
.password-input-div{
  position: absolute;
  height: 35px;
  top: 42%;
  width: 100%;
  /* border: 1px brown solid; */
}
.button-input-div{
  position: absolute;
  height: 35px;
  top: 53%;
  width: 100%;
}
.password-input{
  margin-left : 100px;
  height: 30px;
  width: 300px;
  border-radius: 30px;
  opacity: 0.5;
}
.name-input{
  margin-left : 100px;
  height: 30px;
  width: 300px;
  border-radius: 30px;
  opacity: 0.5;
}

.newAccount-input-div{
  position: absolute;
  height: 35px;
  top: 70%;
  width: 100%;
  text-align: center;
}

.button-login{
  margin-left : 100px;
  height: 30px;
  width: 300px;
  border-radius: 30px;
  opacity: 0.8; 
  background: rgb(54, 241, 54);
}
.button-login:hover{
  background: cadetblue;
}
