.main-container{
  display: flex;
  width: 100%;
}

.task-list{
  margin-left: 15px;
  width: 715px;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  /* display: inline;
  width: 100%;
  padding: 3px;
  border:  solid red; */
}

.create-task-div{
  margin-left: 15px; 
  margin-right: 15px;
  border: 1px solid rgb(94, 20, 163); 
  width: 100%;
}

h1.header-create-task{
  left: auto;
  right: auto;
  text-align: center;
}

h1.header-all-tasks{
  font-family:SpaceGrotesk-Medium;
  width: 685px;
  left : auto;
  right: auto;
  text-align: center;
  text-transform: uppercase;
  color:brown;
  font-size: 16px;
  border:  solid red; 
}
