.task-list{
  margin-left: 35px;
  /* display: inline;
  width: 100%;
  padding: 3px;
  border:  solid red; */
}

/* .task-list-2{
  display: inline;
  width: 100%;
  padding: 3px;
  border:  solid red;
} */